In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
def area_paracaidas(m,Cd,rho,v):
    g=9.81 #m/s
    return (2*g*m)/(rho*Cd*v**2)

def error_division(cte,x,y, e_x,e_y):
    return abs(cte*x/y)*(e_x/abs(x)+e_y/abs(y))

In [43]:
g=9.81 # m/s
m=50 #+-5 Kg
rho=1.2 #kg/m^3
Cd1= .7 # +-0.1 Cruciform
Cd2= 0.775 # +-0.175 Circular 
v1=10 # m/s o menor
v2=20.45 # m/s
a1=2*g/(rho*v1**2)
a2=2*g/(rho*v2**2)

In [44]:
A1=area_paracaidas(m,Cd1,rho,v1) #área cruciforma
error_A1=error_division(a1,m,Cd1,0.1,0.175)
A2=area_paracaidas(m,Cd2,rho,v2) #área semielipse
error_A2=error_division(a2,m,Cd2,0.1,0.175)
Total=A1+A2

In [45]:
np.sqrt(Total) # Lado de un solo pliego pero no es lo que se necesita

3.768406437251645

In [46]:
#Definición de tabla para visualización

df = pd.DataFrame()

areas=[A1,A2]
errores=[error_A1,error_A2]
ratio=[error_A1/A1,error_A2/A2]
df['Areas m^2']=areas
df['Error']=errores
df['Relación']=ratio
print(df)

   Areas m^2   Error  Relación
0  11.678571  2.9430  0.252000
1   2.522316  0.5746  0.227806

In [42]:
print(A1)

8.175

In [20]:
df

   Areas m^2     Error  Relación
0   1.894869  0.480034  0.253333
1   7.157515  1.640071  0.229140