In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [18]:
def area_paracaidas(m,Cd,rho,v):
    g=9.81 #m/s
    return (2*g*m)/(rho*Cd*v**2)

def error_division(cte,x,y, e_x,e_y):
    return abs(cte*x/y)*(e_x/abs(x)+e_y/abs(y))

def ancho_Cruciforme(A,LWR):
    W=np.sqrt(A/(2*LWR-1))
    return W

In [12]:
g=9.81 # m/s
m=50 #+-5 Kg
rho=1.2 #kg/m^3
Cd1= .73 # +-0.1 Cruciform LWR=3.5
Cd2= 0.775 # +-0.175 Circular 
v1=10 # m/s o menor
v2=20.45 # m/s
a1=2*g/(rho*v1**2)
a2=2*g/(rho*v2**2)

In [13]:
A1=area_paracaidas(m,Cd1,rho,v1) #área cruciforma
error_A1=error_division(a1,m,Cd1,0.1,0.175)
A2=area_paracaidas(m,Cd2,rho,v2) #área semielipse
error_A2=error_division(a2,m,Cd2,0.1,0.175)
Total=A1+A2

In [14]:
np.sqrt(Total) # Lado de un solo pliego pero no es lo que se necesita

3.7041795022291386

In [16]:
#Definición de tabla para visualización

df = pd.DataFrame()

areas=[A1,A2]
errores=[error_A1,error_A2]
ratio=[error_A1/A1,error_A2/A2]
df['Areas m^2']=areas
df['Error']=errores
df['Relación']=ratio
print(df)

   Areas m^2   Error  Relación
0  11.198630  2.7070  0.241726
1   2.522316  0.5746  0.227806

In [10]:
print(A1)

11.678571428571429

In [11]:
df

   Areas m^2   Error  Relación
0  11.678571  2.9430  0.252000
1   2.522316  0.5746  0.227806

## Geometria del cruciforme

In [22]:
LWR1=3.5
W=ancho_Cruciforme(A1, LWR1)
L=LWR1*W
print(L,W/2) # metros

4.781617912695838 0.6830882732422625